body {
    margin: 0;
    direction: rtl;
    background: linear-gradient(120deg, #4415a3 0%, #1561ad 100%) !important;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.formBox .form-control {
    position: relative;
    direction: rtl;
    outline: none !important;
    border: none;
    border-bottom: 1px solid #c8d6e5;
    box-shadow: none !important;
    border-radius: 0;
    font-size: 12px;
}

.formBox .form-group::after {
    content: '';
    height: 1px;
    width: 0;
    right: 50%;
    transform: translateX(50%);
    background-color: #3742fa;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.formBox .form-group.active::after {
    width: 100%;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.formBox textarea {
    resize: none;
}

.formBox button {
    font-size: 14px;
}

.formBox h6::after {
    content: '';
    height: 2px;
    width: 120px;
    background-color: #c7d6eb;
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
}